:host {
    .m-t-4 {
        margin-top: 4rem;
    }

    .width100 {
        width: 100%;
    }

    .mat-paginator-sticky {
        bottom: 0px;
        position: sticky;
        z-index: 10;
    }

    .symbol {
        color: #48d748;
        font-weight: 500;
        font-size: 1rem;
    }

    .search-div {
        margin-left: 1rem;
        margin-top: 1rem;
    }

    ::ng-deep {
        .mat-header-cell {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .mat-row:nth-child(even){
            background-color: rgba(242, 246, 245, 0.76);
        }
    }
}
